@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Titillium+Web:wght@300;400&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-white-soft: hsl(0, 0%, 97%);
  --color-white-mute: hsl(0, 0%, 95%);

  --color-black: hsl(0, 0%, 9%);
  --color-black-soft: hsl(0, 0%, 13%);
  --color-black-mute: hsl(0, 0%, 16%);

  --color-accent: hsl(340, 82%, 52%);

  --color-divider-light-1: hsla(0, 0%, 24%, 0.29);
  --color-divider-light-2: hsla(0, 0%, 24%, 0.12);
  --color-divider-dark-1: hsla(0, 0%, 33%, 0.65);
  --color-divider-dark-2: hsla(0, 0%, 33%, 0.48);

  --color-text-light-1: var(--color-black);
  --color-text-light-2: hsla(0, 0%, 24%, 0.66);
  --color-text-dark-1: var(--color-white);
  --color-text-dark-2: hsla(0, 0%, 92%, 0.64);

  box-sizing: border-box;
}

[color-scheme='light']{
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);

  --color-border: var(--color-divider-light-2);
  --color-border-hover: var(--color-divider-light-1);

  --color-heading: var(--color-text-light-1);
  --color-text: var(--color-text-light-1);
}

[color-scheme='dark']{
  --color-background: var(--color-black);
  --color-background-soft: var(--color-black-soft);
  --color-background-mute: var(--color-black-mute);

  --color-border: var(--color-divider-dark-2);
  --color-border-hover: var(--color-divider-dark-1);

  --color-heading: var(--color-text-dark-1);
  --color-text: var(--color-text-dark-2);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  /*font-family: 'Titillium Web', sans-serif;*/
  background-color: var(--color-background);
}
